## 함수(function)

In [ ]:
# 사각형의 가로와 세로의 길이를 이용해서 면적과 둘레를 구하는 코드.
height = 50
width = 20

area = height * width
perimeter = (height + width) * 2
print(f'사각형의 면접은 {area}이고 둘레는 {perimeter}입니다.')

In [ ]:
print('height * width', ('height' + 'width') * 2) ------ 내가 짠 코드...

In [ ]:
# 사각형의 가로와 세로의 길이를 이용해서 면적과 둘레를 구하는 코드.
height2 = 50
width2 = 50

area2 = height2 * width2
perimeter2 = (height2 + width2) * 2
print(f'사각형의 면접은 {area2}이고 둘레는 {perimeter2}입니다.')

## 함수의 선언과 호출
- 선언
```python
def func_name(parameter1, parameter2, ...):
    code1
    code2
    ...
    return 0
```

- 호출
    -`func_name(parameter1, parameter2, ...)`

In [ ]:
def rectangle(height, width):
    area = height * width
    perimeter = (height + width) * 2
    
    print(f'사각형의 면접은 {area}입니다. 둘레는 {perimeter}입니다.')

In [ ]:
rectangle(50, 30)
rectangle(20, 100)

In [ ]:
print('asdf')
str(123) --- 숫자를 글자로 바꿔주는 함수.

In [ ]:
dir(__builtins__) --- 세부 내용을 보여주는 함수.

In [1]:
max(100, 2)

100

In [5]:
def my_max(num1, num2):
    if num1 > num2:
        print(num1)
    elif num1 < num2:
        print(num2)
    else:
        print('같습니다.')

In [3]:
my_max(5, 5)

같습니다.

## 함수의 return

- 함수가 return을 만나면 해당값을 반환하고 함수를 종료.
- 만약 return이 없는 경우, None을 자동으로 반환.
- return은 오직 하나의 객체만 반환.

In [11]:
result = my_max(1, 2)
print(result)
# result * 2

2
None

In [14]:
def my_max2(num1, num2):
    if num1 > num2:
        return num1
    else:
        return num2

In [18]:
result = my_max2(1, 2)
print(result)

2

In [25]:
def my_for(X): 
    for i in range(X):
        print(i)
        if i == 3:
            return i

my_for(5)

0
1
2
3

3

In [29]:
def my_def(x):
    return x * 2, x

my_def(10)

(20, 10)

In [70]:
# version1
def my_list_max(list1, list2):
    # list1 = [1, 2, 3]
    # list2 = [2, 3, 4]
    
    # list1의 총합, list2의 총합을 각각 먼저 구해야한다.

    sum_of_list1 = list1[0] + list1[1] + list1[2]
    sum_of_list2 = list2[0] + list2[1] + list2[2]

    if sum_of_list1 > sum_of_list2:
        return list1
    else:
        return list2

In [71]:
my_list_max([1, 2, 3], [2, 3, 4])

[2, 3, 4]

In [72]:
# version2
def my_list_max(list1, list2):
    sum_of_list1 = 0 #비어있는 값이라는 뜻의 0.
    # 리스트를 더해나갈 초기값 설정

    for item in list1:
        sum_of_list1 = sum_of_list1 + item

    sum_of_list2 = 0
    # 리스트를 더해나갈 초기값 설정 2
    
    for item in list2:
        sum_of_list2 += item

    # 합을 구했으니 비교 연산으로 마무리.
    if sum_of_list1> sum_of_list2:
        return list1
    else:
        return list2

In [73]:
my_list_max([1, 2, 3], [2, 3, 4])

[2, 3, 4]

In [49]:
# my_list_max([1, 2, 3], [2, 3, 4])
# => [2, 3, 4]

def my_list_max(num1, num2):
    if num1 > num2:
        return num1
    else:
        return num2
my_list_max([1, 2, 3], [2, 3, 4])
print(sum(num1, num2))
    # 첫번째 리스트 가져오기 ---------- ********** 내가 짠 코드...

NameError: name 'num1' is not defined

In [68]:
# version3 -- 아예 list를 다 더해주는 sum()함수를 사용하는 방법.
def my_list_max(list1, list2):
    sum_of_list1 = sum(list1)
    sum_of_list2 = sum(list2)

    if sum_of_list1 > sum_of_list2:
        return list1
    else:
        return list2

In [69]:
my_list_max([1, 2, 3], [2, 3, 4])
# => [2, 3, 4]

[2, 3, 4]

In [86]:
def apple(aha, baha):
    sum_of_aha = sum(aha)
    sum_of_baha = sum(baha)

    if sum_of_aha > sum_of_baha:
        return aha
    else:
        return baha

In [99]:
apple([5,1,1], [2,3,4])

[2, 3, 4]

### 함수의 인수

### 위치인수
- 기본적으로 함수는 위치를 기준으로 인수를 판단합니다.

In [100]:
# 원기둥의 부피 구하기
def cylinder(r, h):
    return 3.14 * r ** 2 *

In [104]:
cylinder(3, 10)

282.6

In [150]:
cylinder(10, 3)

942.0

In [151]:
cylinder(10, 10, 2)

TypeError: cylinder() takes 2 positional arguments but 3 were given

### 기본값
```python
def func_name(p1=v1):
    code1
    return value
```

In [112]:
def greeting(name='익명'):
    return f'{name}님 반갑습니다.'

In [115]:
greeting()

'익명님 반갑습니다.'

In [129]:
print('안녕하세요', '반갑습니다.', sep=' ? ', end='!!\n')
print('저는 김승현입니다.')

안녕하세요 ? 반갑습니다.!!
저는 김승현입니다.

In [139]:
def greeting(name='익명', age):
    return f'{name}님의 나이는 {age}살 입니다.'

SyntaxError: parameter without a default follows parameter with a default (3185936571.py, line 1)

In [142]:
def greeting(age, name='익명'):
    return f'{name}님의 나이는 {age}살 입니다.'

# 위치 인자보다 뒤에 있어야 해결.

In [141]:
greeting('승현', 10)
greeting(10)

'익명님의 나이는 10살 입니다.'

## 키워드 인수
- 함수를 호출(실행)할 때 내가 원하는 위치에 직접적으로 값을 전달.

In [147]:
def greeting(age, name='익명'):
    return f'{name}님은 {age}살입니다.'

In [148]:
greeting(10, '승현')
greeting(10)
greeting(name='승현', age=10)

'승현님은 10살입니다.'

### 가변인자 리스트(*parms) - 변할 수 있는 인자들..
```python
def func_name(*parms):
    code
    ...
    return value
```

In [154]:
print('1', '2', 'efef')

1 2 efef

In [156]:
def my_print(*words):
    print(words)

In [159]:
my_print('my', 'name', 'is')

('my', 'name', 'is')

In [160]:
max(1, 3, 5, 6)

6

In [229]:
def my_max(*sizes):
    print(sizes)
    # 나열까지는 가능, 이제 큰 수를 뽑아내야함.
    # max_num = 0
    max_num = sizes[0]  # 사과나무 예시 기억하기.

    for sizes in sizes:
        if max_num < sizes:
            max_num = sizes

    return max_num

In [231]:
my_max(-100, -999, -99, -6)

(-100, -999, -99, -6)

-6

In [1]:
del str

NameError: name 'str' is not defined

In [5]:
a = 1

def local_scope():
    return a

a = '가나다라'
local_scope('asdf')

TypeError: local_scope() takes 0 positional arguments but 1 was given

In [14]:
my_list = [1, 2, 3, 4, 5]
for i in my_list:
    # i = ...
    print(i)
print(i)

1
2
3
4
5
5

In [17]:
a = 0
def global_scope():
    global a
    a = a + 1
    return a

global_scope()

1

### 정의되지 않은 키워드 인자 처리하기
def func_name(**kwargs):
    return value

In [ ]:
info = {
    'name': 'hong',
    'age': 10,
}
print(info)

In [ ]:
info = dict(name='kim', age=20, asdf='가나다라')
print(info)

In [ ]:
def my_dict(**kwargs):
    print(kwargs)

my_dict(asdf='가나다', age=123, test='asdf')

In [ ]:
def my_func(params1, params2='temp', *numbers, **kwargs):
    return 0

In [ ]:
# my_func() => params1 부족으로 에러
my_func(123) 
# => params1 = 123, params2 = 'temp'
my_func(123, 234)
# => params1 = 123, params2 = 234
my_func(123, 234, 345, 567, 789, 890)
# => parmas1 = 123, parmas2 = 234, numbers = (345, 567, 789, 890)
my_func(123, 234, 345, 567, 789, 890, a=1, b=2, c=3)
# kwargs = {a: 1, b: 2, c: 3}

### lambda 표현식
lambda parameter: expression

In [ ]:
def my_sum(num1, num2):
    return num1 + num2

In [ ]:
my_sum(100, 2)

In [ ]:
(lambda num1, num2: num1 + num2)(1, 2)

### 타입힌트

In [ ]:
def something(a: int, b: int) -> int:
    return a + b

something(1, 2)

In [ ]:
something('asdf', 'qwer')

### 이름공간(namespace), 스코프(scope)
python에서 사용하는 이름들은 이름공간에 저장되어있습니다. LEGB 룰에 따라 접근

1. Local : 정의된 함수 내부
2. Enclosed : 상위 함수
3. Global : 함수 밖
4. Built-in : python이 기본적으로 가지고 있는 함수

In [36]:
result = str(123)
print(result)

123

In [ ]:
str = 'hello'

In [35]:
result = str(123)
print(result)

123

In [ ]:
del str

In [34]:
a = 1

def local_scope(a):
    return a

a = '가나다라'

local_scope('asdf')

'asdf'

In [33]:
a = 1

def local_scope(b):
    return a

a = '가나다라'

local_scope('asdf')

'가나다라'

In [32]:
my_list = [1, 2, 3, 4, 5]
for i in my_list:
    # i = ...
    print(i)
print(i)

1
2
3
4
5
5

In [31]:
a = 0

def global_scope():
    global a
    a = a + 1
    return a

global_scope()

1

### 재귀
함수 내부에서 자기 자신을 호출하는 함수

```
n! = 1 * 2 * 3 * ... * n

1! = 1
2! = 1 * 2 = 1! * 2
3! = 1 * 2 * 3 = 2! * 3
n! = (n-1)! * n
```

In [19]:
def fact(n):
    if n == 1:
        return 1
    else:
        return fact(n-1) * n

In [25]:
fact(10)

3628800

In [28]:
# 피보나치 수열

def fib():
    if n == 0 or n == 1 :
        return 1
    else: 
        return fib(n-2) + fib(n-1)

In [30]:
fib(10)

TypeError: fib() takes 0 positional arguments but 1 was given