# 자료구조
> 여러가지 자료구조가 가지고 있는 메소드(함수) 알아보기

In [2]:
print(dir('hello'))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

### 문자열 메소드

In [4]:
a = 'hello my name is hong'

In [7]:
print(a)

hello my name is hong

In [248]:
a[0] = 'H'   # str 수정불가능, 재할당 해야함

TypeError: 'str' object does not support item assignment

In [15]:
a.capitalize()

'Hello my name is hong'

In [17]:
b = 'what do you want to eat for lunch?'

In [18]:
print(b)

what do you want to eat for lunch?

In [20]:
b[0] = 'W'

TypeError: 'str' object does not support item assignment

In [31]:
b= b.capitalize()  # return이 출력된거, print(()) 형태로 데이터로 저장. or b = b.()형태.

In [32]:
print(b)

What do you want to eat for lunch?

In [35]:
a.title()  # 단어 맨 첫번째 대문자.

'Hello My Name Is Hong'

In [37]:
a.lower()  # 전부 소문자.

'hello my name is hong'

In [39]:
a.upper() # 전부 대문자.

'HELLO MY NAME IS HONG'

In [46]:
my_list = ['my', 'name', 'is']
'!'.join(my_list)

'my!name!is'

In [51]:
'?'.join('배고프다')

'배?고?프?다'

In [58]:
a = '          hello          \n'
print(a)

          hello

In [59]:
a = '          hello          \n'
print(len(a))

26

In [61]:
a = '     \t     hello          \n'
a.strip()  # 좌우 여백으로 생각하는 것들 지워주는 역할.

'hello'

In [70]:
a = '!!!!!!!!!!!hello???????????'
a.strip('!''?')

# def strip(char = ' ')

'hello'

In [74]:
a = '-----hello-----'
a.lstrip('-')

'hello-----'

In [76]:
a = '-----hello-----'
a.rstrip('-')

'-----hello'

In [85]:
a = 'woooooooooooow'
a.replace('o', '!', 10)

'w!!!!!!!!!!oow'

In [92]:
a = 'apple'
a.find('a') # => 0
a.find('l') # => 3
a.find('p') # => 1
a.find('z') # => -1(없음.)

-1

In [97]:
a = 'apple'
a.index('a')
a.index('l')
a.index('p')
a.index('x')

ValueError: substring not found

In [100]:
# find는 인덱스 위치를 찾아주고 없을 시 -1을 뱉는다. index도 위치를 찾지만, 없을 시 에러발생.

In [247]:
a = 'my name is kim'
a.split()  # split 각각의 데이터를 잘라주고, 그 결과를 list로 만들어줌.

['my', 'name', 'is', 'kim']

In [106]:
a = 'my!name!is!kim'
a.split('!')

['my', 'name', 'is', 'kim']

In [108]:
a = 'my!name!is?kim'
a.split('!')

['my', 'name', 'is?kim']

In [110]:
a = 'woooooow'
a.count('o')

6

## 리스트 메소드

In [113]:
numbers = [2, 3, 4, 5, 6, 7]

In [153]:
numbers.append(10)  # 맨 마지막에 데이터를 넣을 때 사용.

In [116]:
print(numbers)

[2, 3, 4, 5, 6, 7, 10]

In [118]:
a = [99, 100]

In [127]:
numbers.extend(a)
print(numbers)  # 여러 개 데이터 추가.  extend === numbers + a

[2, 3, 4, 5, 6, 7, 10, 99, 100, 99, 100, 99, 100, 99, 100, 99, 100, 99, 100, 99, 100, 99, 100, 99, 100]

In [132]:
numbers.insert(3, 5)
print(numbers)  # 원하는 공간에 데이터 넣기.

[2, 3, 4, 5, 5, 5, 6, 7, 10, 99, 99, 100, 99, 100, 99, 100, 99, 100, 99, 100, 99, 100, 99, 100, 99, 100, 5]

In [144]:
# 첫번째 x를 찾아서 제거하고, 없으면 오류.
numbers.remove(99)
print(numbers)

[2, 3, 4, 5, 5, 5, 6, 7, 10, 99, 99, 99, 99, 99, 99, 5]

In [152]:
# 맨 마지막 데이터를 제거할 때 사용.
numbers.pop()
print(numbers)

[2, 3, 4, 5, 5, 5, 6, 7]

In [156]:
numbers.pop(0)  # Q처럼 사용도 가능. pop안에 숫자를 넣어서.
print(numbers)

[5, 5, 5, 6, 7, 10]

In [161]:
numbers.sort()   # 오름차순으로 정렬.
print(numbers)

[5, 5, 5, 6, 7, 10]

In [163]:
numbers.sort(reverse=True)  # 내림차순으로 정렬.
print(numbers)

[10, 7, 6, 5, 5, 5]

In [168]:
a = [5, 3, 2, 7, 8, 1]
print(sorted(a))  
print(a)  # sorted는 원본을 바꾸는 차이점 있다.

[1, 2, 3, 5, 7, 8]
[5, 3, 2, 7, 8, 1]

In [176]:
my_list = ['a', '수', 'o', '나', 'z']
my_list.sort()
print(my_list)  # 글자도 유니코드 순서로 정렬 가능.

['a', 'o', 'z', '나', '수']

In [179]:
print(numbers)
numbers.reverse()
print(numbers)

[10, 7, 6, 5, 5, 5]
[5, 5, 5, 6, 7, 10]

In [184]:
numbers.count(5)

3

### list copy

In [186]:
origin_list = [1, 2, 3]
copy_list = origin_list

In [188]:
print(origin_list)
print(copy_list)

[1, 2, 3]
[1, 2, 3]

In [189]:
copy_list[0] = 100
print(origin_list)
print(copy_list)

[100, 2, 3]
[100, 2, 3]

In [190]:
origin_list = [1, 2, 3]
copy_list = origin_list[:]

copy_list[0] = 100

print(origin_list)
print(copy_list)

[1, 2, 3]
[100, 2, 3]

In [191]:
o_l = [1, 2, [10, 11]]
c_l = o_l[:] 

c_l [0] = 100
c_l [2][0] = -10

print(o_l)
print(c_l)

[1, 2, [-10, 11]]
[100, 2, [-10, 11]]

In [193]:
import copy  
o_l = [1, 2, [10, 11]]
c_l = copy.deepcopy(o_l)

c_l[0] = 100
c_l[2][1] = -11

print(o_l)
print(c_l)

[1, 2, [10, 11]]
[100, 2, [10, -11]]

## list comprehension

In [195]:
numbers = list(range(1, 11))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [198]:
result = []

for number in numbers:   # -> 반복 작업.
    temp = number ** 3   # -> **:제곱
    result.append(temp)

print(result)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [204]:
result = [number ** 3 for number in numbers] 
# result = [number1 ** 3, number2 ** 3, number3 ** 3]
print(result)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [208]:
# 짝수만 고르기
numbers = list(range(1, 31))

result = []
for number in numbers:
    if number % 2 == 0:
        result.append(number)

print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [212]:
numbers = list(range(1, 31))
result = [number for number in numbers if number % 2 == 0]
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [215]:
numbers = list(range(1, 31))
result = [number * 2 for number in numbers if number % 2 == 0]  # -> 최종적으로 보여주고 싶은 것은 number
print(result)

[4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60]

In [216]:
# 연습! 모음제거
words = 'my name is hong'

# => my nm s hng

In [254]:
# 1. for / if -- 강사님 풀이(자음을 선택하는 방식)

vowels = ['a', 'e', 'i', 'o', 'u']
result = []

for char in words:
    if char in vowels: # ---> 캐릭터가 모음 목록에 있다면
        pass
    else:
        result.append(char)  # ---> 자음인 경우

print(result)
print(''.join(result))

['m', 'y', ' ', 'n', 'm', ' ', 's', ' ', 'h', 'n', 'g']
my nm s hng

In [259]:
# 강사님 풀이2(모음을 선택하는 방식)

vowels = ['a', 'e', 'i', 'o', 'u']
result = []

for char in words:
    if char not in vowels: # ---> 캐릭터가 모음 목록에 없다면
        result.append(char)
    # else:
        # result.append(char)  # ---> 자음인 경우

print(result)
print(''.join(result))

['m', 'y', ' ', 'n', 'm', ' ', 's', ' ', 'h', 'n', 'g']
my nm s hng

In [261]:
# 강사님 풀이3(조금 더 간편하게)
# vowels = ['a', 'e', 'i', 'o', 'u']

vowels = 'aeiou' # --- 위의 나열과 똑같음.
result = []

for char in words:
    if char not in 'aeiou': # ---> 캐릭터가 모음 목록에 없다면
        result.append(char)
    # else:
        # result.append(char)  # ---> 자음인 경우

print(result)
print(''.join(result))

['m', 'y', ' ', 'n', 'm', ' ', 's', ' ', 'h', 'n', 'g']
my nm s hng

In [258]:
# 1. 내 풀이 ----- 자음을 남기는 방법, 모음을 없애는 방법....
result = []  # --- 공간을 만드는 형식
words = 'my name is hong'

for number in numbers:
    if numbers == 
    result.remove('consonant')

print(result)

SyntaxError: invalid syntax (3886525803.py, line 6)

In [267]:
# 2. list comprehension --- 강사님 풀이

vowels = 'aeiou'
result = [char for char in words if char not in vowels]
print(list)
print(''.join(result))

<class 'list'>
my nm s hng

In [266]:
# 2. 내 풀이
numbers = list(range('my', 'name', 'is', 'hong'))
result = [number for number in numbers result.remove(consonant)]
print(result)

SyntaxError: invalid syntax (2931435440.py, line 3)

In [279]:
# 3. replace 메소드 -- 원본 덮어씌우기를 하면서 하겠다.
vowels = 'aeiou'

for char in vowels:
    words = words.replace(char, '')

print(words)

my nm s hng

In [1]:
def solution(n):
    answer = 0

    return [n+1 for number in numbers]

    return answer

print(solution(1234, 10))
print(solution(930211, 16))

TypeError: solution() takes 1 positional argument but 2 were given

## dictionary 메소드

In [9]:
info = {
    'name': 'hong',
    'location': 'seoul',
    'age': 20,
    'phone_book':{
        'kim': '010-7564-4482',
        'park': '010-3435-3523'
    },
    'models': ['iphone', 'ipad'],
    
}

In [10]:
print(info['name'])
print(info['age'])
print(info['phone_book']['park'])
print(info['models'][1])

hong
20
010-3435-3523
ipad

In [16]:
info['name'] = 'lee' 
print(info)

{'name': 'lee', 'location': 'seoul', 'age': 20, 'phone_book': {'kim': '010-7564-4482', 'park': '010-3435-3523'}, 'models': ['iphone', 'ipad']}

In [18]:
info.update(name = 'chio')
print(info)

{'name': 'chio', 'location': 'seoul', 'age': 20, 'phone_book': {'kim': '010-7564-4482', 'park': '010-3435-3523'}, 'models': ['iphone', 'ipad']}

In [20]:
info.update(age = '22')
print(info)

{'name': 'chio', 'location': 'seoul', 'age': '22', 'phone_book': {'kim': '010-7564-4482', 'park': '010-3435-3523'}, 'models': ['iphone', 'ipad']}

In [39]:
info.pop('location')
print(info)

KeyError: 'location'

In [28]:
print(info.get('name'))
print(info['name'])

chio
chio

In [38]:
print(info.get('birth')) # --> get은 none반환.

None

In [35]:
print(info['birth'])

KeyError: 'birth'

In [68]:
# 연습문제
blood_type = ['A', 'B', 'A', 'B', 'O', 'AB', 'A', 'A', 'AB']
# 더 많은 데이터가 들어있다고 헸을 때, 어떻게 셀 수 있을까..

result = {
    'A' : 0,
    'B' : 0,
    'AB' : 0,
    'O' : 0,
}

for blood in blood_type:
    # result ['A']
    result[blood] += 1

print(result)

# 결과값=> {'A': 4, 'B':2, 'AB':2, 'O':1}

{'A': 4, 'B': 2, 'AB': 2, 'O': 1}

In [65]:
info = {
    'A' : 4,
    'B' : 2,
    'AB': 2,
    'O': 1
}
info['A'] = 4
print(info)

{'A': 4, 'B': 2, 'AB': 2, 'O': 1}

In [59]:
print(info['A'])
print(info['B'])
print(info['AB'])
print(info['O'])

4
2
2
1

In [61]:
info['A'] = 4
print(info)

{'A': 4, 'B': 2, 'AB': 2, 'O': 1}

In [73]:
# 연습문제2
locations = ['서울', '서울', '대전', '대구', '의성']

# 데이터가 정해지지 않은 상태에서 dictionary 방법.
# 현재 목록에 있다면 +1, 없다면 새로 생성.

result = {}

# <순서>
# for location in locations:
    # if location이 result key 목록에 있으면?
       # 기존 데이터에 +1
# else: 목록에 없다면
      # 새로운 키를 등록하고 기본값 1을 지정

for location in locations:
    # if location in result.keys():
    if result.get(location):
        result[location] += 1
    else:
        result[location] = 1
print(result)

{'서울': 2, '대전': 1, '대구': 1, '의성': 1}

## dict comprehension

In [76]:
# {1: 1, 2: 8, 3: 27, ... 10: 1000}

result = {}
numbers = range(1, 11)

for number in numbers:
    result[number] = number ** 3

print(result)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [77]:
result = {number: number ** 3 for number in range(1, 11)}
print(result)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [78]:
dust = {
    '서울': 50, 
    '인천': 60,
    '수원': 30,
    '남해': 10,
}

In [86]:
# 1. for
result = {}
for key, value in dust.items():
    # key, value = ('서울', 50)
    # item = ('서울', 50)
    if value <= 50:
        result[key] = value # --> 새로운 result에 등록.
    
print(result)

{'서울': 50, '수원': 30, '남해': 10}

In [91]:
# 2. dic comprehension
result = {k: '매우 좋음' for k, v in dust.items() if v <= 50}
print(result)

{'서울': '매우 좋음', '수원': '매우 좋음', '남해': '매우 좋음'}

## Set 메소드

In [97]:
fruits = {'apple', 'melon', 'kiwi'}

In [98]:
print(fruits)

{'apple', 'melon', 'kiwi'}

In [107]:
fruits.add('watermelon')  # 하나의 데이터 추가.
print(fruits)

{'melon', 'grape', 'orange', 'watermelon', 'kiwi'}

In [106]:
fruits.update({'orange', 'grape'}) # 여러개 데이터 추가.
print(fruits)

{'melon', 'grape', 'orange', 'watermelon', 'kiwi'}

In [111]:
fruits.remove('grape')
print(fruits)

{'orange', 'watermelon', 'kiwi'}

In [112]:
fruits.pop()
print(fruits)

{'watermelon', 'kiwi'}

## map, filter, zip

### map -- 모든 데이터를 일괄처리.
- map(function, iterable)
    - iterable => 시퀀스타입

In [114]:
numbers = [1, 2, 3, 4, 5] # --> 숫자 1, 2, 3, 4, 5
# => ['1', '2', '3', '4', '5']

result = []
for number in numbers:
    result.append(str(number))
print(result)
# --> 이후에 나오는 답은 글자 1, 2, 3, 4, 5

['1', '2', '3', '4', '5']

In [117]:
result = map(str, numbers)
print(result)
print(list(result))

<map object at 0x0000020A68E51EA0>
['1', '2', '3', '4', '5']

In [119]:
numbers = [1, 2, 3, 4, 5]
# => [1, 8, 27, 64, 125]

result = []
for number in numbers:
    result.append(number ** 3)

print(result)

[1, 8, 27, 64, 125]

In [120]:
def cube(x):
    return x ** 3

In [124]:
result = map(cube, numbers)
print(result)
print(list(result))

<map object at 0x0000020A68C20AF0>
[1, 8, 27, 64, 125]

In [128]:
test_input = '1 3 5 7 9'  # -=> 숫자, '1' 글자.
# 1. 띄어쓰기 기준으로 나눈다.
test_input.split()
# 2. 각 글자를 숫지로 바꾼다.
map(int, test_input.split())
# 3. 리스트에 저장한다.
result = list(map(int, test_input.split()))

print(result)

[1, 3, 5, 7, 9]

## filter -- 필요 데이터만 추출할 때.
- filter(function, iterable)

In [132]:
numbers = [1, 2, 3, 4, 5, 6]

result = []  # --> 원래 사용했던 방법.
for number in numbers:
    if number % 2  == 1:
        result.append(number)
print(result)

[1, 3, 5]

In [129]:
def is_odd(X):
    return X % 2

In [133]:
result = filter(is_odd, numbers)
print(result)
print(list(result))

<filter object at 0x0000020A68C20AF0>
[1, 3, 5]

## zip

In [137]:
a = [1, 2, 3]
b = [100, 200, 300]

result = zip(a, b)
print(result)
print(list(result))

<zip object at 0x0000020A69446F00>
[(1, 100), (2, 200), (3, 300)]