# Error

## Syntax error

In [6]:
if True:
    pass
else

SyntaxError: expected ':' (3448656250.py, line 3)

In [7]:
print('hello)

SyntaxError: unterminated string literal (detected at line 1) (3574047905.py, line 1)

In [9]:
if True print('hello')

SyntaxError: invalid syntax (3421040245.py, line 1)

## exception

In [11]:
print(5/0)

ZeroDivisionError: division by zero

In [14]:
print(hello)

NameError: name 'hello' is not defined

In [17]:
1 + '1'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [18]:
'1' + 1

TypeError: can only concatenate str (not "int") to str

In [19]:
import random
random.sample([1, 2, 3, 4, 5])

TypeError: Random.sample() missing 1 required positional argument: 'k'

In [21]:
random.sample([1, 2, 3], 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

TypeError: Random.sample() takes 3 positional arguments but 12 were given

In [22]:
int('4.5')

ValueError: invalid literal for int() with base 10: '4.5'

In [23]:
numbers = [1, 2, 3]
numbers.index(100)

ValueError: 100 is not in list

In [24]:
number[100]

NameError: name 'number' is not defined

In [25]:
my_dict = {
    'apple': '사과',
    'banana': '바나나',
}

In [26]:
my_dict['melon']

KeyError: 'melon'

In [27]:
import pandas

ModuleNotFoundError: No module named 'pandas'

In [28]:
import request

ModuleNotFoundError: No module named 'request'

## 예외처리
```python
 try:
      code
 except exception:
      code
```

In [41]:
try:
    number = int(input('숫자를 입력해주세요'))
    print(f'입력하신 {number}의 세제곱은 {number ** 3}입니다.')
except:
    print('숫자를 입력해줘')

숫자를 입력해주세요 123

입력하신 123의 세제곱은 1860867입니다.

In [56]:
try:
    num = int(input('100을 무엇으로 나누겠습니까?'))
    print(f'100을 {num}으로 나눈 결과는 {100/num}입니다.')
except ValueError:
    print('입력한 데이터는 숫자가 아닙니다.')
except ZeroDivisionError:
    print('모든 수는 0으로 나눌 수 없습니다.')

100을 무엇으로 나누겠습니까? 0

모든 수는 0으로 나눌 수 없습니다.

In [65]:
try:
    numbers = [1, 2, 3]
    numbers[2]
except:
    print('오류입니다.')
else:
    print('여기는 esle입니다.')

여기는 esle입니다.

In [67]:
try:
    numbers = [1, 2, 3]
    numbers[100]
except:
    print('오류입니다.')
finally:
    print('여기는 esle입니다.')

오류입니다.
여기는 esle입니다.

In [76]:
def my_div(a,b):
    try:
        return a/b
    except (ValueError, TypeError):
        return '숫자를 넣어주세요.'
    except ZeroDivisionError:
        return '0으로 나눌 수 없습니다.'
    except:
        return '무엇인가 잘못되었습니다.'

my_div(1, 0)

'0으로 나눌 수 없습니다.'