# 01. intro

## shortcut

- ctr + enter : 현재 셀 실행
- shift + enter : 현재 셀 실행 & 아래로 이동
- alt + enter : 현재 셀 실행 & 아래에 새로운 셀 추가

## 주의사항

1. Apple / apple
2. git add. / git add .
3. message / massage

## 01. 변수

```
var_name = value
```

- 변수이름은 어떤 이름이든 사용가능
- 다만 영어, 숫자, _ 를 이용해서 선언
- 키워드는 불가능

In [11]:
a = 1

In [13]:
a

1

In [14]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [ ]:
seoul_dust_rate = 150

## 1.1 number

In [16]:
a = 10000

In [17]:
a

10000

In [18]:
type(a)

int

In [20]:
b = 1.1

In [21]:
b

1.1

In [22]:
type(b)

float

In [23]:
c = 1 + 1j

In [25]:
c

(1+1j)

In [31]:
type(c)

complex

In [39]:
## 1.2 boolean

In [32]:
a = True

In [33]:
a

True

In [35]:
type(a)

bool

In [36]:
b = False

In [37]:
b

False

## 1.3 string
- `', "`를 이용하여 표현

In [69]:
a = 'hello'

In [70]:
b = "hi"

In [71]:
b

'hi'

In [50]:
print('hello my name is "seunghyun"')

hello my name is "seunghyun"

print('hello my name is \'seunghyun\'')

In [52]:
print('hello\n my name is \'seunghyun\'')

hello my name is 'seunghyun'

In [72]:
a = '''
hello
world
hi
'''

In [73]:
a

'\nhello\nworld\nhi\n'

In [58]:
a = 10
b = '홍길동은 a살입니다.'

### string interpolation

- %-formatting
- str.format()
- f-string

In [135]:
age = 10

In [146]:
money = 3000

In [62]:
print('홍길동은 %s살입니다.'% age)

홍길동은 10살입니다.

In [64]:
print('홍길동은 {}살입니다.'. format(age))

홍길동은 10살입니다.

In [133]:
print(f'홍길동은 {age}살입니다.')

홍길동은 10살입니다.

In [147]:
print(f'아이스티는 {money}원 입니다.')

아이스티는 30000원 입니다.

# 0.2 연산자

## 2.1 산술연산자

In [81]:
a = 5
b = 2

In [77]:
print(a + b)
print(a - b)
print(a * b)
print(a / b)

7
-3
10
0.4

In [84]:
print(a ** b)
print(a // b)
print(a % b)

25
2
1

In [85]:
result = divmod(a, b)
print(result)

(2, 1)

## 2.2 비교연산자

In [87]:
a = 5
b = 10

In [91]:
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)

False
True
False
True

In [93]:
print(a == b)
print(a != b)

False
True

In [99]:
print('hi' == 'hi')
print('hi' == 'Hi')

True
False

## 2.3 논리연산자
- and : 양쪽 모두 True 일때, Ture를 반환
- or : 양쪽 모두 False 일때, False를 반환
- not : 상태를 부정

In [102]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [103]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [104]:
a = True
print(not a)

False

In [109]:
# 단축평가
print(3 and 5)
print(3 and 0)
print(0 and 5)
print(0 and 0)

5
0
0
0

In [111]:
print(3 or 5)
print(3 or 0)
print(0 or 5)
print(0 or 0)

3
3
5
0

## 2.4 복합연산자

In [157]:
a = 10
b = 5

In [158]:
a = a + b
a = a - b
a = a * b
a = a / b

In [159]:
a += b 
a -= b
a *= b
a /= b
a //= b
a %= b
a **= b

In [160]:
a

32.0

## 2.5 기타연산자

In [162]:
a = 'hi'
b = 'hello'

In [169]:
# concatenation
print(a + b)

hihello

In [171]:
a = [1, 2, 3]
b = [2, 3, 4]

In [172]:
print(a + b)

[1, 2, 3, 2, 3, 4]

In [177]:
print(1 in a)
print(10 in a)

True
False

In [188]:
a = 257
b = 257

In [189]:
print(a == b)
print(a is b)

True
False

### 연산자 
0. ()를 통해서 그룹
1. **
2. 산술연산자(*, /)
3. 산술연산자(+, -)
4. 비교연산자, in, is
5. not
6. and
7. or

In [191]:
print(-3 ** 4)
print((-3) ** 4)

-81
81

### 3. 형변환

## 3.1 암시적 형변화

In [192]:
a = True
b = False
c = 1

In [194]:
print(a + b)
print(a + c)

1
2

In [201]:
if 1:
    print('hello')

hello

## 3.2 명시적 형변환
- int()
- float()
- str()
- bool()

In [203]:
a = '1'
b = '반'

In [207]:
print(a + b)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [208]:
print(str(a) + b)

1반

In [214]:
a = '3'
print(a)
print(type(a))

b = int(a)
print(b)
print(type(b))

3
<class 'str'>
3
<class 'int'>

In [215]:
c = 'apple'
d = int(c)

ValueError: invalid literal for int() with base 10: 'apple'

In [219]:
a = 1
b = 0
c = -123
print(bool(a))
print(bool(b))
print(bool(c))

True
False
True

In [221]:
print(bool([]))
print(bool([1, 2, 3]))

False
True

## 4. 시권스 자료형
- 시퀀스는 데이터의 순서대로 나열된 자료구조. (순서대로 나열되었다는 것은 정렬된것과 다르다)

1. List
2. Tuple
3. Range
4. String

## 4.1 list(리스트, 배열)

- 선언 : var_name = [value1, value2, value3, ...]
- 접근 : var_name[index]

In [4]:
l = []
print(l)
print(type(l))

[]
<class 'list'>

In [14]:
location = ['서울', '대전', '부산']
print(location)
print(location[0])
print(location[1])
print(location[2])

location[1] = '대구'
print(location)

['서울', '대전', '부산']
서울
대전
부산
['서울', '대구', '부산']

## 4.2 Tuple(튜플)
- 선언 : `var_name  = (value1, value2, value3, ...)`
- 접근 : `var_name[index]`
- 수정불가능하다(immutable)

In [15]:
print(location)
print(location[0])

['서울', '대구', '부산']
서울

In [19]:
location[2]

'부산'

In [21]:
result = divmod(5, 2)
print(result)
print(type(result))

(2, 1)
<class 'tuple'>

In [25]:
x = 1
y = 2

(x, y) = (y, x)
print(x, y)

2 1

## 4.3 Range

- range(n) : 0부터 n-1까지 범위(n번째 전까지를 의미, 0이상 n미만)
- range(n, m) : n부터 m-1까지 범위
- range(n, m, s) : n부터 m-1까지 s만큼 증가하는 범위

In [29]:
lotto = range(45)
print(lotto)
print(list(lotto))

range(0, 45)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44]

In [32]:
lotto = range(1, 46)
print(lotto)
print(list(lotto))

range(1, 46)
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45]

In [35]:
even = range(2, 21, 2)
print(list(even))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [38]:
numbers = range(0, -21, -2)
print(list(numbers))

[0, -2, -4, -6, -8, -10, -12, -14, -16, -18, -20]

## 4.4 string
- 기본 데이터 구조 참고

## 4.5 시퀀스에서 활용가능한 연산/함수

In [39]:
my_list = ['a', 'b', 'c', 'd', 'e']
my_tuple = (6, 7, 8, 9, 10)
my_range = range(5)
my_string = '가나다라마'

In [42]:
# indexing
print(my_list[0])
print(my_tuple[0])
print(my_range[0])
print(my_string[0])

a
6
0
가

In [49]:
# slicing
# var_name[index1:index2]
print(my_list[2:5])
print(my_tuple[2:5])
print(my_range[2:5])
print(my_string[2:5])

['c', 'd', 'e']
(8, 9, 10)
range(2, 5)
다라마

In [52]:
# 인덱스 생략
print(my_list[3:])
print(my_list[:3])

['d', 'e']
['a', 'b', 'c']

In [57]:
# 음수 인덱스
print(my_list[-1])
print(my_list[1:-1])

e
['b', 'c', 'd']

In [63]:
# step
print(my_list[::2])
print(my_list[2::])

['a', 'c', 'e']
['c', 'd', 'e']

In [69]:
# in, not in
print(1 in my_list)
print('a' in my_list)

print('a' not in my_list)
print(1 not in my_list)

False
True
False
True

In [76]:
# concatennation

print(my_list + [1, 2, 3, 4, 5])
print(my_tuple + (1, 2, 3))

['a', 'b', 'c', 'd', 'e', 1, 2, 3, 4, 5]
(6, 7, 8, 9, 10, 1, 2, 3)

In [84]:
# *
print(my_list * 2)
print('a' * 5)
print('가' * 7)

# [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
print([0] * 100)

['a', 'b', 'c', 'd', 'e', 'a', 'b', 'c', 'd', 'e']
aaaaa
가가가가가가가
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [85]:
len(my_list)

5

In [86]:
max(my_list)

'e'

In [88]:
min(my_list)

'a'

## 5. 시퀀스형이 아닌 자료구조

## 5.1 set
- 수학에서의 집합과 비슷한 개념(중복값이 없음)

- 선언: `var_name = {value1, value2, value3, ...}`

In [93]:
my_set_a = {1, 2, 3, 4, 5, 5, 5, 5}
my_set_b = {1, 3, 5, 7, 9}

In [96]:
print(my_set_a)
print(my_set_b)

{1, 2, 3, 4, 5}
{1, 3, 5, 7, 9}

In [99]:
print(my_set_a - my_set_b)
print(my_set_a | my_set_b)
print(my_set_a & my_set_b)

{2, 4}
{1, 2, 3, 4, 5, 7, 9}
{1, 3, 5}

In [107]:
location = ['서울', '대구', '광주', '부산']
print(set(location))

{'부산', '대구', '서울', '광주'}

## 5.2 Dictionary
- 선언: `var_name = {key1: value1, key2: value2, key3: value3, ...}`
- 접근: `var_name[key]`

In [110]:
my_dict = {'서울': '02', '경기': '031'}
print(my_dict['서울'])
print(my_dict['경기'])

02
031

In [111]:
my_info = {
    'name': 'seunghyun', 
    'location': 'seoul',
    'age': 10,
    'skill': ['python', 'git']
}

In [119]:
print(my_info['name'])
print(my_info['age'])
print(my_info['skill'][1])

seunghyun
10
git

## 데이터 타입**
- number
- boolean
- string

**자료구죠**
- 시퀀스
1. list [  ] : mutable 
2. tuple (  ) : immutable
3. range () : immutable
4. 'string : immutable

- 시퀀스가 아닌 것
1. {set} : mutable
2. {dict: ionary} : mutable